.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
}

#hero {
    background-color: #f8f9fa;

}

#classes {
    background-color: #fff;

}

.card-title {
    font-size: 1.25rem;
    font-weight: bold ;

}

.card-text {
    color: #6c757d;
}

#footer p {
    background-color: #343a40;

}

#footer p {
    font-size: 0.9rem;
}